<form action="/add" method="POST">
    <p>Título:</p>
    <input type="text" name="titulo">
    <p>Conteúdo: </p>
    <textarea name="conteudo"></textarea>
    <button type="submit" style="display: block; margin-top: 10px">Cadastrar Postagem</button>
</form>